# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS-specific files
.DS_Store

# Log files
*.log

# Other common artifacts
*.h5  # Model files
